// get font size from variables/_font-map.scss
@function get-font-size($size, $device) {
  @return map-get(map-get($font-map, $size), $device);
}

@mixin font($weight: '400', $size: 'default', $line-height: 1) {
  font-size: get-font-size($size, 'mobile');
  font-weight: $weight;
  line-height: $line-height;

  @include tablet-portrait-up {
    font-size: get-font-size($size, 'tablet');
  }

  @include tablet-landscape-up {
    font-size: get-font-size($size, 'desktop');
  }
}
