// Taken and modified from Milligram.css - https://milligram.io/

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;

  @include tablet-landscape-up {
    flex-direction: row;
  }
}

.row.row--noPadding {
  padding: 0;
}

.row.row--noPadding > .column {
  padding: 0;
}

.row.row--wrap {
  flex-wrap: wrap;
}

.row.row--top {
  align-items: flex-start;
}

.row.row--bottom {
  align-items: flex-end;
}

.row.row--center {
  align-items: center;
}

.row.row--stretch {
  align-items: stretch;
}

.row.row--baseline {
  align-items: baseline;
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

.row .column.column--offset10 {
  margin-left: 10%;
}

.row .column.column--offset20 {
  margin-left: 20%;
}

.row .column.column--offset25 {
  margin-left: 25%;
}

.row .column.column--offset33,
.row .column.column--offset34 {
  margin-left: 33.3333%;
}

.row .column.column--offset50 {
  margin-left: 50%;
}

.row .column.column--offset66,
.row .column.column--offset67 {
  margin-left: 66.6666%;
}

.row .column.column--offset75 {
  margin-left: 75%;
}

.row .column.column--offset80 {
  margin-left: 80%;
}

.row .column.column--offset90 {
  margin-left: 90%;
}

.row .column.column--width10 {
  flex: 0 0 10%;
  max-width: 10%;
}

.row .column.column--width20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.row .column.column--width25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row .column.column--width33,
.row .column.column--width34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.row .column.column--width40 {
  flex: 0 0 40%;
  max-width: 40%;
}

.row .column.column--width50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.row .column.column--width60 {
  flex: 0 0 60%;
  max-width: 60%;
}

.row .column.column--width66,
.row .column.column--width67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.row .column.column--width75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.row .column.column--width80 {
  flex: 0 0 80%;
  max-width: 80%;
}

.row .column.column--width90 {
  flex: 0 0 90%;
  max-width: 90%;
}

.row .column .column--top {
  align-self: flex-start;
}

.row .column .column--bottom {
  align-self: flex-end;
}